img {
    height: 200px;
    width: 150px;
    margin: 0 auto;
}

.naZdrowie {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    box-shadow: 5px 5px;
    border-radius: 3px;
    margin-top: 10px;
    z-index: 99;
}

#toast-msg {
    position: fixed;
    bottom: 0;
}

.text-board {
    background-color: lightskyblue;
}